version: "3.9"
services:
  streamlit:
    build:
      context: .
      dockerfile: ./docker/app/Dockerfile
    image: stapp:latest
    # ports:
    #   - "21001:21001"
    # entrypoint: ["python3.9", "app.py"]
